*{
    font-family: 'Courier New', Courier, monospace;
    background-color: #699ccf;
}
#box {
    /*border: 3px solid black;*/
    width: 100%;
    margin:auto;
    text-align: center;
    font-size: 70px;
    font-style: italic;
    overflow:auto;
    line-height: 0px;
    color: white;
    background-image:url("images/headerBackground.png");
}
button{
    background-color: #2458A2;
    color: white;
}
button:hover{
    background-color: #182b69;
}
#start{
    text-align: center;
}
#startButton{
    display:block;
    text-align: center;
    padding: 14px 28px;
    font-size: 40px;
    width:auto;
    margin: auto;
    margin-top: 150px;
}
footer{
    position:fixed;
    bottom:0px;
    text-align:center;
}
#mode{
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
}
.gmode{
    font-size: 40px;
    margin: auto;
}
#board1{
    display: inherit;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display:none;
    align-self: center;
    align-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
    height: 480px;
    overflow: hidden;
    width: 660px;
}
#board{
    align-self: center;
    z-index: -2;
    position: absolute;
    height: 480px;
    width: 640px;
    /*/border-radius: 5%;/*/
}
.chipimgclass{
    width: 73px;
    height: 73px;
    z-index: 2;
    margin-left: 12px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 1px;
    border-radius: 50%;
}
#go{
    font-size: 35px;
    margin: auto;
    margin-top: 13%;
    margin-right: 5%;
}
#imageselector{
    margin: auto;
    padding: 6px 12px;
}

.columnclass{
    width: 88px;
    height: 990px;
    margin-right: 2px;
    margin-left: 1px;
    background: transparent;
    z-index: 3;
    margin-top: -580px;
    float: center;
    border: hidden;
}

.columnclass:hover{
    opacity: 0.2;
}